@use "@/styles/base/variables.scss" as *;
.header {
  &Icon {
    display: inline-flex;
    transition: 0.4s;

    @include hover() {
      color: $greenButton;
    }

    &:focus-visible {
      background-color: $greenFocus;
      color: $greenButton;
    }

    &:active {
      color: $greenActive;
    }
  }
}
