$greenLogo: #598D66;
$greenLight: #E1EDE6;
$greenButton: #598D66;
$greenFocus: #D4E8D9;
$greenActive: #376B44;

$grayNavigation: #2C2D35;
$grayText: #2C2D35;
$grayLight: #86928B;

$white: #FFFFFF;

$yellow: #EEDB6D;
$yellowHover: #FAEB97;
$yellowBorder: #A38314;
$yellowActive: #D9B949;