@use "@/styles/base/variables.scss" as *;

.header {
  &List {
    display: flex;
    column-gap: rem(60);
  }

  &Link{
    @include fluid-text(20, 18);
    color: $grayNavigation;
    transition: 0.4s;

    @include hover-icon();
  }
}