.footerBlock {
  display: flex;
  column-gap: rem(115);

  &Logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $greenLogo;

    &Texts {
      display: flex;
      flex-direction: column;
    }

    &Tel {
      @include fluid-text(20, 16);
      color: $grayText;
      margin-bottom: rem(8);
      width: rem(170);

      @include tablet() {
        width: auto;
      }
    }

    &Master {
      @include fluid-text(18, 16);
      color: $grayLight;
    }

    @include tablet() {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &Info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &List {
      display: flex;
      column-gap: rem(60);

      @include mobile-s() {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: rem(20);
      }
    }

    &Item {
      display: flex;
      flex-direction: column;
    }

    &Title {
      @include fluid-text(20, 16);
      color: $grayText;
      margin-bottom: rem(6);
    }

    &Link {
      color: $grayLight;
      margin-bottom: rem(8);
      transition: 0.4s;

      &:focus-visible {
        outline: 1px solid $grayLight;
        outline-offset: rem(3);
      }

      &:active {
        color: $grayNavigation;
      }

      @include hover() {
        color: $grayText;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;

      &List {
        display: flex;
        column-gap: rem(30);

        @include mobile() {
          justify-content: center;
        }
      }

      &Button {
        display: inline-flex;
        border: 0;
        color: $grayText;

        &:focus-visible {
          color: $greenButton;
          background-color: $greenFocus;
        }

        &:active {
          color: $greenActive;
        }

        @include hover() {
          color: $greenButton;
          background-color: transparent;
        }
      }

      &Secure {
        display: flex;
        flex-direction: column;
        row-gap: rem96;
        font-size: rem(12);
        color: $grayLight;

        @include mobile() {
          flex-direction: row;
          column-gap: rem(3);
        }
      }
    }

    @include mobile() {
      flex-direction: column;
      align-items: center;
    }
  }

  @include tablet() {
    flex-direction: column;
    row-gap: rem(30);
  }
}