.burger {
  &Close {
    margin-bottom: rem(30);
    @include hover-icon();
  }

  &List {
    display: flex; 
    flex-direction: column;
    row-gap: rem(50);
    margin-bottom: rem(60);
  }

  &Link {
    font-size: rem(18);
    @include hover-icon();
  }
}