@use "@/styles/base/variables.scss" as *;

.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: rem(68);
  left: 0;
  padding: rem(15) rem(16);
  width: 100%;
  background-color: $greenLight;
  transform: translateX(-100%);
  transition: 0.4s;

  &.active {
    transform: translateX(0);
  }
}
